<!doctype html>
<html>
    <head>
        <title>Physics Learning Website</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <div class="menu">
                <div class="logo">
                    <a href="#">Physics Learning</a>
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>    
        <div class="content">
            <h1>Fisika Matematika I</h1>
            <h2>Physics Alliance '21</h2>
            <div class="semester-buttons">
                <button>BAB 1</button>
                <button>BAB 2</button>
                <button>BAB 3</button>
                <button>BAB 4</button>
                <button>BAB 5</button>
                <button>BAB 6</button>
                <button>BAB 7</button>
                <button>BAB 8</button>
            </div>
        </div>
    </body>
</html>