body {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: url(bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 25px; 
    transform: translate(-50%, -50%);
  }
  
.container h1 {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 4px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: transparent;
}

button[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 25%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background: #030825ca;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
    position: absolute;
    top: 0%;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 750;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-left: 6px;
}

.menu ul li:first-child {
    margin-left: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 8px 13px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: rgb(228, 203, 103);
    color: white;
}