<!doctype html>
<html>
    <head>
        <title>Physics Learning Website</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <div class="menu">
                <div class="logo">
                    <a href="#">Physics Learning</a>
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>    
        <div class="content">
            <h1>Semester 1</h1>
            <h2>Physics Alliance '21</h2>
            <div class="semester-buttons">
                <button>Fisika Matematika I</button>
                <button>Fisika Dasar I</button>
                <button>Statistika</button>
                <button>Bahasa Inggris</button>
                <button>Pendidikan Agama Islam</button>
                <button>Pendidikan Kewarganegaraan</button>
                <button>Pendidikan Bahasa Indonesia</button>
                <button>Eksperimen Fisika Dasar I</button>
            </div>
        </div>
    </body>
</html>