<!doctype html>
<html>
    <head>
        <title>Physics Learning Website</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <div class="menu">
                <div class="logo">
                    <a href="#">Physics Learning</a>
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>    
        <div class="content">
            <h1>Latihan Soal</h1>
            <h2>Physics Alliance '21</h2>
            <div class="semester-buttons">
                <button>Semester 1</button>
                <button>Semester 2</button>
                <button>Semester 3</button>
                <button>Semester 4</button>
                <button>Semester 5</button>
                <button>Semester 6</button>
                <button>Semester 7</button>
                <button>Semester 8</button>
            </div>
        </div>
    </body>
</html>